<template>
  <button @click="setme">
    hello
  </button>
</template>

<script>
export default {
  props: [],
  data() {
    return {}
  },
  methods: {
    setme() {
    },
  },
  computed: {},
  mounted() {
  }
}

</script>
