<template>
  <div class="py-6 px-4">

    <input ref="input" type="hidden">

    <div class="font-semibold flex items-center justify-center">
      <button @click.prevent="navigate(-1)" class="px-2">
        <svg class="stroke-current w-6 h-6 text-orange-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
      </button>
      <button class="flex items-center" ref="picker">
        <svg class="stroke-current w-5 h-5 text-orange-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
        <span class="ml-2 font-bold text-lg text-gray-800">{{ formattedDate }}</span>
      </button>
      <button @click.prevent="navigate(1)" class="block px-2">
        <svg class="stroke-current w-6 h-6 text-orange-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg>
      </button>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import Pikaday from 'pikaday'
  import "pikaday/css/pikaday.css"
  export default {
    props: {
      value: { required: true },
      format: { default: "YYYY-MM-DD" },
    },
    methods: {
      navigate(to) {
        let currentDate = new Date(this.value)
        currentDate.setDate(currentDate.getDate() + to)
        return this.$emit("input", currentDate);
      }
    },
    computed: {
      formattedDate() {
        // return this.value.toLocaleDateString('en-US', {
        //   year: 'numeric', month: 'long', day: 'numeric'
        // })
      }
    },
    mounted() {
      const picker = new Pikaday({
        field: this.$refs.input,
        trigger: this.$refs.picker,
        format: this.format,
        onSelect: () => {
          this.$emit("input", new Date(picker.toString()))
        },
        // ...this.options
      })
    }
  }
</script>
