<template>
  <div>
    <div class="relative">
      <div class="w-full flex py-2">
        <div class="flex-1 text-green-700 font-bold text-sm text-center">
          {{entry.fat}}
        </div>
        <div class="flex-1 text-green-700 font-bold text-sm text-center">
          {{entry.carbohydrates}}
        </div>
        <div class="flex-1 text-green-700 font-bold text-sm text-center">
          {{entry.protein}}
        </div>
      </div>

      <div class="absolute top-0 right-0 mr-4 h-full flex items-center">
        <button @click.prevent="remove">
          <svg class="stroke-current w-4 h-4 text-orange-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['entry', 'userId'],
    methods: {
      remove() {
        axios.delete(route('api.users-nutrition-diary-entries.destroy', {user: this.userId, id: this.entry.id}))
          .then(response => {
            this.$emit('removed')
          })
      }
    }
  }
</script>
