<template>
  <div>
    <diary-date v-model="date"></diary-date>
    <!-- Hero -->
    <div class="shadow-xl">
      <div class="py-10 px-4 bg-green-500 text-center">
        <div class="text-5xl font-black text-white">{{ totalDailyConsumption.calorie }}</div>
        <h1 class="text-green-200 font-bold text uppercase">Your calories today</h1>
      </div>
      <div class="flex py-6 bg-green-600">
        <div class="flex-1 flex flex-col items-center">
          <h4 class="text-green-200 uppercase text-sm tracking-wide font-semibold">Fat</h4>
          <span class="text-green-100 text-xl font-bold">{{ totalDailyConsumption.fat }} g</span>
        </div>
        <div class="flex-1 flex flex-col items-center">
          <h4 class="text-green-200 uppercase text-sm tracking-wide font-semibold">Carbohydrate</h4>
          <span class="text-green-100 text-xl font-bold">{{ totalDailyConsumption.carbohydrates }} g</span>
        </div>
        <div class="flex-1 flex flex-col items-center">
          <h4 class="text-green-200 uppercase text-sm tracking-wide font-semibold">Protein</h4>
          <span class="text-green-100 text-xl font-bold">{{ totalDailyConsumption.protein }} g</span>
        </div>
      </div>
    </div>

    <!-- Breakdown -->
    <div class="mt-6 px-4">
      <div v-for="(mealTimeName, mealTimeCode) in mealTimes" :key="mealTimeCode" class="mt-8 first:mt-0">
        <meal-time-breakdown
          :user-id="userId"
          :date="date"
          :meal-time-name="mealTimeName"
          :meal-time-code="mealTimeCode"
          :meal-times="mealTimes"
          :formatted-date="formattedDate"
          @diary-written="fetchDailyConsumption()"
        ></meal-time-breakdown>
      </div>
    </div>
  </div>
</template>

<script>
  import MealTimeBreakdown from './MealTimeBreakdown.vue'

  export default {
    props: ['mealTimes', 'userId'],
    components: {MealTimeBreakdown},
    data() {
      return {
        date: new Date(),
        totalDailyConsumption: {
          fat: 0, carbohydrates: 0, protein: 0, calorie: 0,
        },
      }
    },
    methods: {
      fetchDailyConsumption() {
        axios.get(route('api.users-nutrition-diary-entries.index', {user: this.userId}), {
          params: {
            date: this.date
          }
        })
        .then(response => {
          this.totalDailyConsumption = response.data
        })
      },
    },
    computed: {
      formattedDate() {
        return this.date.toLocaleDateString('en-US', {
          year: 'numeric', month: 'long', day: 'numeric'
        })
      }
    },
    watch: {
      date() {
        this.fetchDailyConsumption()
      }
    },
    mounted() {
      this.fetchDailyConsumption()
    }
  }
</script>
