<template>
  <div>
    <div>
      <div class="bg-white rounded-lg shadow overflow-hidden">
        <div class="py-6 flex justify-between px-4">
          <div class="font-semibold text-gray-700">{{ mealTimeName }} </div>
          <div class="flex items-center">
            <span class="mr-6">{{ total.calorie }}</span>
            <button @click="showAddModal = true">
              <svg class="w-6 h-6 stroke-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            </button>
          </div>
        </div>
        <div v-if="hasEntries" class="flex py-3 bg-gray-100">
          <div class="flex-1 flex flex-col items-center">
            <h4 class="text-gray-500 text-sm font-semibold">Fat</h4>
            <span class="mt-1 text-gray-600 text-xl font-bold">{{ total.fat }} g</span>
          </div>
          <div class="flex-1 flex flex-col items-center">
            <h4 class="text-gray-500 text-sm font-semibold">Carbohydrate</h4>
            <span class="mt-1 text-gray-600 text-xl font-bold">{{ total.carbohydrates }} g</span>
          </div>
          <div class="flex-1 flex flex-col items-center">
            <h4 class="text-gray-500 text-sm font-semibold">Protein</h4>
            <span class="mt-1 text-gray-600 text-xl font-bold">{{ total.protein }} g</span>
          </div>
        </div>
        <div v-if="! hasEntries" class="px-4 pb-4 text-sm text-gray-700">
          Nothing for {{ mealTimeName }} yet...
        </div>
        <diary-entry
          class="border-b border-orange-100 last:border-transparent"
          v-show="! isEntriesCollapsed"
          v-for="entry in total.entries"
          :user-id="userId"
          :entry="entry"
          :key="entry.id"
          @removed="onDiaryWritten()"
        ></diary-entry>
      </div>

      <div v-if="hasEntries">
        <div class="relative flex justify-center">
          <div class="absolute bottom-0 rounded-full bg-orange-100 p-1 -mb-4 shadow-md">
            <button @click.prevent="isEntriesCollapsed = ! isEntriesCollapsed" class="block">
              <svg v-if="isEntriesCollapsed" class="stroke-current w-4 h-4 text-orange-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
              <svg v-if="! isEntriesCollapsed" class="stroke-current w-4 h-4 text-orange-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="18 15 12 9 6 15"></polyline></svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <write-to-diary-modal
      :user-id="userId"
      :show="showAddModal"
      :date="date"
      :formatted-date="formattedDate"
      :meal-time="mealTimeCode"
      :meal-times="mealTimes"
      @done="onDiaryWritten()"
      @close="showAddModal = false"
    ></write-to-diary-modal>
  </div>
</template>

<script>
  import WriteToDiaryModal from './../Modals/WriteToDiaryModal.vue'
  import DiaryEntry from './DiaryEntry.vue'

  export default {
    props: ['mealTimeName', 'mealTimeCode', 'mealTimes', 'userId', 'date', 'formattedDate'],
    components: {WriteToDiaryModal, DiaryEntry},
    data() {
      return {
        showAddModal: false,
        isEntriesCollapsed: true,
        total: { fat: 0, carbohydrates: 0, protein: 0, entries: []}
      }
    },
    methods: {
      fetch() {
        axios.get(route('api.users-nutrition-diary-entries.index', {user: this.userId}), {
          params: {
            date: this.date,
            with_breakdown: true,
            meal_time: this.mealTimeCode,
          }
        })
          .then(response => {
            this.total = response.data
          })
      },
      onDiaryWritten(payload) {
        this.fetch()
        this.$emit('diary-written')
      },
    },
    computed: {
      hasEntries() {
        return this.total.entries.length > 0
      }
    },
    watch: {
      date() {
        this.fetch()
      }
    },
    mounted() {
      this.fetch()
    }
  }
</script>
