<template>
  <div class="mt-2 pl-6 py-4 pr-4 border-b border-gray-200">
    <div>
      <div v-if="food.brand">
        <span v-if="food.brand" class="text-gray-500 text-xs uppercase">{{ food.brand }}</span>
      </div>
      <div>
        <a @click.prevent="loadDetails" href="#"><span class="font-bold text-gray-700">{{ food.name }}</span></a>
      </div>
      <div>
        <p class="text-gray-600 font-semibold text-xs">{{ food.description }}</p>
      </div>
    </div>

    <div class="mt-4" v-if="isShowingDetails">
      <div class="flex justify-between items-center">
        <div class="text-xs text-gray-700 font-semibold">Calories: 150</div>
        <div>
          <span class="text-xs uppercase rounded px-1 bg-red-100 text-red-500">F: 10</span>
          <span class="text-xs uppercase rounded px-1 bg-orange-100 text-orange-500">C: 20</span>
          <span class="text-xs uppercase rounded px-1 bg-green-100 text-green-500">P: 33</span>
        </div>
      </div>
      <div class="mt-4 relative">
        <div class="absolute top-0 right-0 flex items-center">

        </div>
        <input class="w-full border-b border-green-300 px-12 py-2  focus:border-green-500 focus:bg-gray-100 rounded-tl rounded-tr text-center" type="text" v-model="amount" placeholder="150 g">
        <p class="text-xs text-gray-600 font-semibold">Please specify how many grams of {{ food.name }} you had</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['food'],
    data() {
      return {
        amount: '',
        isShowingDetails: false
      }
    },
    methods: {
      loadDetails() {
        this.fetchDetails()
        this.toggleDetails()
      },
      fetchDetails() {
        // ...
      },
      toggleDetails() {
        this.isShowingDetails = ! this.isShowingDetails
      }
    },
    computed: {},
  }
</script>
