<template>
  <div>
    <div class="relative">
      <div>
        <input
          v-model="keyword"
          class="w-full h-12 px-3 text-xl font-black text-gray-700 bg-gray-200 rounded "
          type="text"
          placeholder="Search for food"
        >
      </div>

      <div v-show="hasResults" class="mt-2 shadow-xl rounded overflow-scroll max-h-search-results border-t-4 border-green-300 rounded-tl-none rounded-tr-none">
        <div v-for="food in searchResults">
          <food-search-result-item :food="food"></food-search-result-item>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  let results = [
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
    {name: 'test food', 'description': "lets describe here per 100 h", brand: 'TrAder Joy'},
  ]
  import _ from 'lodash'

  import FoodSearchResultItem from './FoodSearchResultItem.vue'
  export default {
    props: [],
    components: {FoodSearchResultItem},
    data() {
      return {
        keyword: '',
        searchResults: []
      }
    },
    methods: {
      search() {
        axios.get(route(`api.food-provider.search.index`, {keyword: this.keyword}))
        .then(response => {
          this.searchResults = response.data.data
        })
      }
    },
    watch: {
      keyword: {
        handler: _.debounce(function(keyword) {
          if (keyword.length > 0) {
            this.search()
          }
        }, 333),
      }
    },
    computed: {
      hasResults() {
        return this.searchResults.length > 0
      }
    }
  }
</script>
