<template>
  <portal to="modals" v-if="show">
    <div class="relative z-0">
      <div class="z-0 px-6 fixed inset-0 overflow-auto" style="background-color: rgba(0,0,0,0.7)">
        <div :class="background" class="z-20 mx-auto mt-20 w-full shadow-lg rounded-lg overflow-hidden">
          <slot></slot>
        </div>
      </div>
<!--       <button @click="dismiss()" class="z-10 fixed inset-0 h-full w-full bg-red-500"></button> -->
    </div>
  </portal>
</template>

<script>
  export default {
    props: {
      show: {type: Boolean, required: true},
      background: {type: String, required: false, default: 'bg-white'}
    },
    data() {
      return {}
    },
    methods: {
      dismiss() {
        this.$emit('close')
      }
    },
    watch: {
      show: {
        immediate: true,
        handler: show => {
          if (show) {
            var offset = document.body.scrollTop;
            document.body.style.top = (offset * -1) + 'px';
            document.body.classList.add('modal--opened');
            // document.body.style.setProperty("overflow", "hidden")
          } else {
            var offset = parseInt(document.body.style.top, 10);
            document.body.classList.remove('modal--opened');
            document.body.scrollTop = (offset * -1);
            // document.body.style.removeProperty("overflow")
          }
        }
      }
    },
    created() {
      const escapeHandler = e => {
        if (e.key === "Escape" && this.show) {
          this.dismiss()
        }
      }
      document.addEventListener("keydown", escapeHandler)
      this.$once("hook:destroyed", () => {
        document.removeEventListener("keydown", escapeHandler)
      })
    }
  }
</script>

<style>
  .modal--opened {
    position: fixed;
    left: 0;
    right: 0;
  }
</style>
