<template>
  <modal :show="show" @close="close()">
    <div class="px-6 py-4 bg-gray-200">
      <div>
        <h3 class="font-black text-gray-700 text-2xl">So how much was it?</h3>
      </div>
      <div class="mt-2 flex items-center justify-between">
        <div class="flex items-center">
          <svg class="stroke-current w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
          <span class="inline-block ml-2">{{ formattedDate }}</span>
        </div>
        <span class="inline-block px-1 py-1 bg-green-200 text-green-700 font-semibold uppercase rounded text-xs tracking-wider">
          {{ mealTimeName }}
        </span>
      </div>
    </div>

    <div class="">
      <div class="flex bg-gray-200">
        <div :class="{'bg-white': isManual}" class="px-6 py-3 rounded-tr-lg  flex-1">
          <button @click.prevent="mode = 'manual'" class="inline-block w-full text-left text-sm font-semibold text-gray-700">Macros</button>
        </div>
        <div :class="{'bg-white': ! isManual}" class="px-6  py-3 rounded-tl-lg flex-1">
          <button @click.prevent="mode = 'search'" class="inline-block w-full text-left text-sm font-semibold text-gray-700">Search Food</button>
        </div>
      </div>
      <div v-if="isManual" class="flex px-6 pt-3 pb-6 bg-white">
        <div class="flex-1">
          <div class="font-semibold text-gray-700">Fat</div>
          <div class="mt-1">
            <input class="w-full h-12 px-3 text-xl font-black text-gray-700 bg-gray-200  rounded " type="text" v-model="fat" placeholder="Fat">
          </div>
        </div>
        <div class="flex-1 ml-3">
          <div class="font-semibold text-gray-700">Carbs</div>
          <div class="mt-1">
            <input class="w-full h-12 px-3 text-xl font-black text-gray-700 bg-gray-200  rounded " type="text" v-model="carbohydrate" placeholder="Carbs">
          </div>
        </div>
        <div class="flex-1 ml-3">
          <div class="font-semibold text-gray-700">Protein</div>
          <div class="mt-1">
            <input class="w-full h-12 px-3 text-xl font-black text-gray-700 bg-gray-200  rounded " type="text" v-model="protein" placeholder="Prot">
          </div>
        </div>
      </div>
      <div v-if="! isManual" class="flex px-6 pt-3 pb-6 bg-white">
        <div class="flex-1">
          <div class="font-semibold text-gray-700">What exactly did you eat?</div>
          <food-search class="mt-2"></food-search>
        </div>
      </div>
    </div>

    <div class="bg-green-300">
      <div class="px-6 py-4 flex justify-between items-center">
        <button @click.prevent="mode = 'search'" class="mr-4 text-green-900 underline text-sm font-bold">I don't know</button>
        <button @click.prevent="write" class="px-4 py-2 bg-green-300 border-2 border-white text-green-800 uppercase text-sm tracking-wide font-bold rounded-lg shadow-md hover:bg-green-400">write to diary</button>
      </div>
    </div>
  </modal>
</template>

<script>
  import Modal from './Modal.vue'
  import FoodSearch from './../Food/FoodSearch.vue'
  import "izitoast/dist/css/iziToast.min.css"

  export default {
    props: ['userId', 'show', 'date', 'formattedDate', 'mealTime', 'mealTimes'],
    components: {Modal, FoodSearch},
    data() {
      return {
        fat: '',
        carbohydrate: '',
        protein: '',
        mode: 'search',
      }
    },
    methods: {
      write() {
        axios.post(route('api.users-nutrition-diary-entries.store', {user: this.userId}), {
          date: new Date(),
          meal_time: this.mealTime,
          nutrients: {
              fat: this.fat,
              carbohydrates: this.carbohydrate,
              protein: this.protein,
          }
        })
          .then(response => {
            this.$emit('done', {
              mealTime: this.mealTime
            })
            this.close()
            successMessage(`Your ${this.mealTimeName} nutrients have been saved.`, 'Great!')
          })
          .catch(error => {
            errorMessage(error.response.data.message)
          })
      },
      search() {

      },
      clear() {
        this.fat = this.carbohydrate = this.protein = ''
      },
      close() {
        this.clear()
        this.$emit('close')
      },
    },
    computed: {
      mealTimeName() {
        return this.mealTimes[this.mealTime]
      },
      isManual() {
        return this.mode == 'manual'
      }
    },
  }
</script>
