<template>
  <div class="flex items-center justify-center px-10 bg-green-600 min-h-screen">
      <div class="w-full">
          <div class="text-center font-black text-white text-3xl">Fattify</div>
          <div class="mt-6 pt-4 bg-white rounded-lg shadow-2xl overflow-hidden">
              <h2 class="px-6 text-xl font-semibold text-gray-600">Please Login to Proceed</h2>

              <form @submit.prevent="submit" class="mt-10">
                  <div class="px-4">
                      <div>
                          <input class="w-full h-12 px-4 text-gray-700 bg-gray-200 rounded" type="email" v-model="email" placeholder="Email">
                      </div>
                      <div class="mt-6">
                          <input class="w-full h-12 px-4 text-gray-700 bg-gray-200 rounded" type="password" v-model="password" placeholder="Password">
                      </div>
                  </div>

                  <div class="mt-10 p-4 bg-green-300 flex justify-end items-center">
                      <router-link class="mr-4 text-green-900 underline text-sm font-bold" :to="{name: 'auth.show-register-form'}">Sign Up</router-link>
                      <button @click.prevent="submit" class="px-4 py-2 bg-green-300 border-2 border-white text-green-800 uppercase text-sm tracking-wide font-bold rounded-lg shadow-md hover:bg-green-400">Login</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</template>

<script>
  export default {
    props: [],
    data() {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      submit() {
        axios.post(route('api.login'), {
          email: this.email,
          password: this.password,
        })
          .then(response => {
            localStorage.setItem('token', response.data.token)
            this.$store.commit('LOGIN_USER')
            this.$router.push({name: 'my-diary'})
          })
          .catch(error => {
            console.log('Authentication error in Login component');
            console.log(error);
          })
      }
    },
    beforeCreate () {
      if (this.$store.state.isLogged) {
          this.$router.push({name: 'my-diary'})
      }
    },
  }
</script>
