<template>
  <a href="#" @click.prevent="logout">Log Out</a>
</template>

<script>
  export default {
    name: 'logout',
    mounted () {
      localStorage.removeItem('token')
      this.$store.commit('LOGOUT_USER')
      this.$router.push({name: 'login'})
    }
  }
</script>
